<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Вход</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
        </table>
        <input type="submit" value="вход">
    </form>
</body>
</html>