{% extends 'index.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css.css' %}">
<form action="" method="post" novalidate>
    {% csrf_token %}
    <table>
        <tr>
        <td>{{ form.new_password1.label_tag }}</td>
        <td>{{ form.new_password1 }}</td>
        <td>{{ form.new_password1.errors }}</td>
        </tr>
        <tr>
        <td>{{ form.new_password2.label_tag }}</td>
        <td>{{ form.new_password2 }}</td>
        <td>{{ form.new_password2.errors }}</td>
        </tr>
        </table>
        <input type="submit" value="отправить">

</form>
{% endblock content %}