<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>кино</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
    {% endblock head %}
</head>
<body>
    {% block menu %}
    <div class="menu">
        <a href="{% url 'allkino' %}">Пациенты</a>
        <a href="">Врачи</a>
        <a href="">Диагнозы</a>
        <a href="">Цены</a>
    </div>
    {% endblock menu %}
    {% block content %}

    <h2>Каталог фильмов</h2>
        <h2>На сайте {{ k1 }} Пациентов</h2>
        <h2>На сайте {{ k2 }} Врачей</h2>
        <h2>На сайте {{ k3 }} Диагнозов</h2>
    {% endblock content %}
</body>
</html>