<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>кино</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
    {% endblock head %}
</head>
<body>
    {% block menu %}
    <div class="menu">
        <a href="{% url 'allkino' %}">Фильмы</a>
        <a href="{% url 'allactor' %}">Актеры</a>
        <a href="{% url 'alldirector' %}">Режисеры</a>
        <a href="{%  url 'status' %}">Подписка</a>
<a href="{% url 'search_films' %}">Поиск фильмов</a>



  <a href="{% url 'kup_podpiska' %}">Подписка купить</a>


        {% if not user.username %}
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}


    </div>
    {% endblock menu %}
    {% block content %}
    <h1>Привет {{ username }}</h1>
    <h2>Каталог фильмов</h2>
        <h2>На сайте {{ k1 }} фильмов</h2>
        <h2>На сайте {{ k2 }} актеров</h2>
        <h2>На сайте {{ k3 }} фильмов бесплатно</h2>

    {% endblock content %}

<a href="{% url 'admin:index' %}">Админка</a>

</body>
</html>