
{% extends 'index.html' %}
{% load static %}
{% block head %}
    <title>кино</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <link rel="stylesheet" href="{% static 'podpiska.css' %}">
    {% endblock head %}
{% block content %}
    <h2>Подписки</h2>
    {% for one in podpiska %}
        <h3 class="main">{{ one.name }}</h3>
        <div class="cont">
        {% for kino in one.kino_set.all %}
        <div class="card">
        <img src="{% static kino.image%}" alt="">
        <h4>{{ kino.title }}</h4>
        <h4>{{ kino.genre }}</h4>
        {% if not user.username %}
        <a href="{% url 'prosmotr' kino.id one.id 0 %}">
            <button>Смотреть</button>
        </a>
        {% else %}
        <a href="{% url 'prosmotr' kino.id one.id user.id %}">
            <button>Смотреть</button>
        </a>
        {% endif %}
        </div>
    {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}