{% extends 'index.html'%}
{% load static %}
 {%  block head %}
    <title>Форма подписки</title>
        <link rel="stylesheet" href="{% static 'css.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/otsuper.css' %}">#}
    {% endblock %}
{% block content %}
    <div class="user">
        <h1>Привет {{ user.username.title }}</h1>
        <h4> Имя:	{{ user.first_name }}</h4>
        <h4>Фамилия:	{{ user.last_name }}</h4>
        <h4>Email:	{{ user.email }}</h4>
        <h4>Подписка:	<i>{{ user.groups.all.0 }}</i></h4>
    </div>
    <div class="kupitpodpis">
        <h3>Купить подписку:</h3>
       {% if user.groups.all.0.id == 1%}
           <h4><a href="{% url 'buystatus' type=2%}">Купить базовую</a></h4>
           <h4><a href="{% url 'buystatus' type=3%}">Купить супер</a></h4>
             {% elif  user.groups.all.0.id == 2 %}
           <h4><a href="{% url 'buystatus' type=3%}">Купить супер</a></h4>
{#        {% else %}#}
{#            <h4>Приятного просмотра</h4>#}
        {% endif %}
    </div>
    <div class="otkazpodris">
    <h3>Отказаться от подписки:</h3>
        {% if user.groups.all.0.id == 3 %}
            <h3><a href="{% url 'otpiska' type=2%}">От Super</a></h3>
             <h3><a href="{% url 'otpiska' type=1%}">От Based</a></h3>
        {% elif user.groups.all.0.id == 2 %}
    <h3><a href="{% url 'otpiska' type=1%}">От Based</a></h3>
        {% endif %}
    </div>

{% endblock content %}
